<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$title}-{$subtitle}</title>
<meta name="description" content="Free Bootstrap Theme by ProBootstrap.com">
<meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

<link href="/school/css/font.css" rel="stylesheet">
<link rel="stylesheet" href="/school/css/styles-merged.css">
<link rel="stylesheet" href="/school/css/style.min.css">
<link rel="stylesheet" href="/school/css/custom.css">

<!--[if lt IE 9]>
<script src="/school/js/html5shiv.min.js"></script>
<script src="/school/js/respond.min.js"></script>
<![endif]-->